<section class="category d-flex mt-2 " style="width: 100%;">
  <div class="object-fit-contain mt-3" style="width: 98%;">
    <div class="header d-flex justify-content-between">
      <h3 class="h3 text-second fw-bold mb-3">Orders</h3>
    </div>
    <table style="width: 100%;" id="example" class="table table-striped table-bordered table-sm" cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th class="th-sm">Product Name
          </th>
          <th class="th-sm">Customer Name
          </th>
          <th class="th-sm">Order Date
          </th>
          <th class="th-sm">Address
          </th>
          <th>Quantity/Price
          </th>
          <th class="th-sm">Status
          </th>
          <th class="th-sm">Manage
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each orderDetails}}
        <tr>
          <td>{{this.products.product_name}}</td>
          <td>{{this.userName.user_name}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <span class="fw-bold">{{this.address.address_cust_name}}</span>,
            {{this.address.house_name}}(H),
            {{this.address.area_street}},
            {{this.address.town}},
            {{this.address.pincode}},
            PH: {{this.address.phone}}
          </td>
          <td>({{this.items.quantity}}),
            {{this.items.price}}
          </td>
          <td {{#if this.items.cancelled_on}} class="text-danger fw-bold" {{/if}}>{{this.items.status}}</td>
          <td>
            {{#if this.items.cancelled_on}}
            <a style="text-decoration: none;" class=" px-4 btn btn-danger"
              href="/admin/manage-order/{{this.items.product_id}}">View</a>
            {{else}}
            <a style="text-decoration: none;" class=" btn add-btn"
              href="/admin/manage-order/{{this.items.product_id}}">manage</a>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
<script>