<section class="">
  <div class="container py-2">
    <div class="row d-flex justify-content-center ">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart - {{cartCount}} items</h5>
          </div>
          <div class="card-body">
            {{#each cartList}}
            <!-- Single item -->
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="/productImages/{{this.prod_detail.primary_image.name}}"
                    class="w-100" alt="Blue Jeans Jacket" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong>{{this.prod_detail.product_name}}</strong></p>
                <p>Color: {{this.prod_detail.color}}</p>
                <p>Brand: {{this.prod_detail.brand_name}}</p>
                <button type="button" class="btn add-btn btn-sm me-1 mb-2" onclick="removeFromCart('{{this.prod_detail._id}}')" data-mdb-toggle="tooltip"
                  title="Remove item">
                  <i class="fas fa-trash"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                  title="Move to the wish list">
                  <i class="fas fa-heart"></i>
                </button>
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">
                  <button onclick="decreaseCartQuantity('{{this.prod_detail._id}}')" style="height: 2.5rem;" class="btn user-btn me-2">
                    <i class="fas fa-minus"></i>
                  </button>

                  <div class="form-outline">
                    <input id="quantityInput-{{this.prod_detail._id}}" min="1" style="width: 4rem;" name="quantity" value="{{this.cart.quantity}}" type="number" readonly class="form-control" />
                    <label class="form-label" for="form1">Quantity</label>
                  </div>

                  <button style="height: 2.5rem;" class="btn user-btn ms-2"
                    onclick="increaseCartQuantity('{{this.prod_detail._id}}')">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <!-- Quantity -->

                <!-- Price -->
                <p class="text-start text-md-center">
                  <strong>₹{{this.prod_detail.selling_price}}</strong>
                </p>
                <!-- Price -->
              </div>
            </div>
            <!-- Single item -->

            <hr class="my-4" />

            {{/each}}

          </div>
        </div>
        
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Products ({{cartCount}})
                <span>₹{{totalPrice}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping(free)
                <span>₹ 0</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including All taxes)</p>
                  </strong>
                </div>
                <span><strong>₹{{totalPrice}}</strong></span>
              </li>
            </ul>


            <a href="/checkout" type="button" class="btn user-btn btn-lg btn-block">
              Go to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>