<div style="background-color: rgb(243, 243, 243);" class="outer-container vw-100 d-flex">
    <div style="width: 50rem;" class="container-fluid mt-3 ms-5">

        <div class="header d-flex align-items-center justify-content-between">
            <h3 class="h4 user-text fw-bold mb-3">Checkout Page</h3>
            <input id="addAddress" class="btn user-btn" type="button" value="New Address">
        </div>
        <div class="header d-flex flex-column align-items-center justify-content-between">
            {{!-- add address --}}
            <form action="/my-account/checkout/new-address" method="post" class=" add-form container">
                <div class="row">
                    <div class="row col-md-6 me-3">
                        <label for="form">Name</label>
                        <input name="address_cust_name" type="text" class="form-control" required>
                    </div>
                    <div class="row col-md-6">
                        <label for="form">Phone</label>
                        <input name="phone" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-6 me-3">
                        <label for="form">House Name</label>
                        <input name="house_name" type="text" class="form-control" required>
                    </div>
                    <div class="row col-md-6">
                        <label for="form">Area/Street</label>
                        <input name="area_street" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-6 me-3">
                        <label for="form">Locality</label>
                        <input name="locality" type="text" class="form-control" required>
                    </div>
                    <div class="row col-md-6">
                        <label for="form">Town</label>
                        <input name="town" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-6 me-3">
                        <label for="form">State</label>
                        <select class="form-select" name="state">
                            <option value="india">Select State</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and
                                Daman
                                and
                                Diu
                            </option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Puducherry">Puducherry</option>
                        </select>
                    </div>
                    <div class="row col-md-6">
                        <label for="form">Pincode</label>
                        <input name="pincode" type="number" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-6 me-3">
                        <label for="form">Landmark</label>
                        <input name="landmark" type="text" class="form-control" required>
                    </div>
                    <div class="row col-md-6">
                        <label for="form">Alternate Phone</label>
                        <input name="alternate_phone" type="number" class="form-control">
                        <input name="customer_id" type="hidden" value="{{userData._id}}" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="HOME" name="address_type"
                            id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            HOME
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" value="WORK" type="radio" name="address_type"
                            id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            WORK
                        </label>
                    </div>
                </div>
                <div class="row mt-2 mb-3 d-flex ">
                    <input class="btn but col-md-3 user-btn btn-lg" type="submit" />
                    <input class="ml-2 btn col-md-3 but clear-btn btn-lg" type="reset" autocomplete="on"
                        value="Clear" />

                    <a id="upButton" class="btn col-md-1 ms-3 user-btn"><i class="fa-solid fa-angle-up"></i></a>

                </div>
            </form>

            <form id="orderForm">

                {{#each address}}
                <div class="address-container d-flex align-items-center">
                    <div class="form-check me-3">
                        <input id="addressInput" class="form-check-input" type="radio" name="address"
                            value="{{this._id}}" name="flexRadioDefault" required>
                    </div>
                    <div class="row card pt-3 mt-2 col-md-12">
                        <div class="headercont d-flex justify-content-between">
                            <div style="width: 5rem;" class="btn btn-sm btn-light">
                                {{this.address_type}}
                            </div>
                        </div>
                        <p class="h5">{{this.address_cust_name}} &emsp; {{this.phone }}</p>
                        <p class="text-normal">
                            {{this.house_name}}(H),
                            {{this.locality}},
                            {{this.area_street}},
                            {{this.landmark}},
                            {{this.state}}
                            <span class="fw-bold">
                                -{{this.pincode}}
                            </span>
                        </p>
                    </div>
                </div>
                <hr>
                {{/each}}

                <input id="proceedPayment" class="btn user-btn mb-5" type="button" value="continue to payment">
                <div class="payment-options">
                    <div class="user-text h6 mb-2">Payment Options</div>
                    <div class="form-check">
                        <input class="form-check-input" value="COD" type="radio" name="payment_method" id="" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Cash On Delivery
                        </label>
                    </div>
                    {{#if wallet}}
                    <div class="form-check">
                        <input class="form-check-input" value="wallet" type="radio" name="payment_method" id="" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Times Cart Wallet (₹{{user.user_wallet}})
                        </label>
                    </div>
                    {{/if}}
                    <div class="form-check mb-3">
                        <input class="form-check-input" value="Online Payment" type="radio" name="payment_method" id="">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Online Payment
                        </label>
                    </div>
                    <input type="hidden" name="price" value="{{totalAmount}}">
                    <button style="padding: 0.5rem 20rem;" class="btn user-btn mb-5" id="submitOrder">Place
                        Order</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-4 mt-3 ms-3">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                        Products ({{cart.length}})
                        <span>₹{{totalAmount}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        Shipping(free)
                        <span>₹ 0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                        <div>
                            <strong>Total amount</strong>
                            <strong>
                                <p class="mb-0">(including All taxes)</p>
                            </strong>
                        </div>
                        <span><strong>₹{{totalAmount}}</strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(() => {
        $('.add-form').hide();
        $('.payment-options').hide();

        //add new Address form display
        const addAddress = document.getElementById('addAddress');
        if (addAddress) {
            addAddress.addEventListener('click', (e) => {
                e.preventDefault();
                $('.add-form').slideDown();

            })
        }
        //go up address
        const upButton = document.getElementById('upButton');
        if (upButton) {
            upButton.addEventListener('click', (e) => {
                e.preventDefault();
                $('.add-form').slideUp();
            })
        }

        const proceedPayment = document.getElementById('proceedPayment');
        if (proceedPayment) {
            proceedPayment.addEventListener('click', (e) => {
                e.preventDefault;
                $('#proceedPayment').hide();
                $('.payment-options').slideDown();
            })
        }

        //create order
        const submitOrder = document.getElementById('submitOrder');
        if (submitOrder) {
            submitOrder.addEventListener('click', async (e) => {
                e.preventDefault();
                let form = document.getElementById('orderForm');
                if (form) {
                    let formData = new FormData(form);
                    const body = Object.fromEntries(formData);
                    console.log(body)
                    await fetch('/cart/place-order', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(body)
                    }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                location.assign('/cart/order-success')
                            }
                            if (data.status) {
                                showRazorpay(data.order, data.user);
                            }
                        })

                } else {
                    console.error('Form element not found');
                }
            });
        }

        //payment interface function 
        showRazorpay = (order, user) => {
            var options = {
                "key": "rzp_test_I43lYVXIyrWCQF", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Times Cart",
                "description": "Test Transaction",
                "image": "https://drive.google.com/uc?id=18EJgrQQfFCgLUCtUCOY-6tujL8KFX0qI",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    verifyPayment(response)
                },
                "prefill": {
                    "name": user.user_name,
                    "email": user.user_email,
                    "contact": user.user_mobile
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#2ade99"
                }
            };

            var rzp1 = new Razorpay(options);
            rzp1.open();
            rzp1.on('payment.failed', function (response) {
                swal.fire("Failed!", response.error.description, "error")
                .then(() => {
                    location.assign('/')
                })
            });
        },

            verifyPayment = async (response) => {

                await fetch('/cart/verify-payment', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(response)
                }).then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            location.assign('/cart/order-success')
                        }
                    })
            }
    })
</script>