<div style="width: 100%;" class="conatiner-fluid mt-3">
    <div class="h3 fw-bold user-text">
        Your Orders
    </div>
    <div class="row col-md-12">
        {{#each orderDetails}}
        <div class="card px-4 my-2  col-md-9">
            <div class="img-text-wrapper p-3 d-flex">
                <img style="width: 5rem;" src="/productImages/{{this.products.primary_image.name}}" alt="">
                <div class="h5 fw-bold">{{this.products.product_name}}
                    <span style="font-size: 0.9rem;" class="fw-normal"><br> Quantity:{{this.items.quantity}}</span>
                    <span style="font-size: 0.9rem;" class="fw-bold text-success">&nbsp &nbsp &nbsp &#160 ₹
                        {{this.items.price}}</span>
                </div>
                {{#if this.items.delivered}}
                <div style="width:60%; height:1rem" class="d-flex align-items-center justify-content-end">
                    <i class="fa-solid text-success fa-star"></i>
                    <i class="fa-solid text-success fa-star"></i>
                    <i class="fa-regular text-secondary fa-star"></i>
                    <a href="/reviews/new-review/{{this._id}}" class="text-decoration-none text-success">Rate this?</a>
                </div>

                {{/if}}
            </div>
            <div style="width:100%" class="d-flex justify-content-around mb-3">
                {{#if this.items.cancelled}}
                <input role="button" readonly type="none" class="text-center btn bg-light text-danger py-2 px-2"
                    value="Cancelled">
                {{/if}}
                {{#if this.items.ordered}}
                <input role="button" onclick="cancelOrder('{{this.items.product_id}}','{{this._id}}')" readonly
                    type="none" class="text-center btn bg-light text-primary py-2 px-2" value="Cancel">
                {{/if}}
                <input role="button" id="cancel-btn" onclick="trckOrder('{{this.items._id}}')" readonly type="none"
                    class="text-center btn bg-light text-primary py-2 px-2" value="Track Order">
                <input role="button" readonly type="none" class="text-center btn bg-light text-primary py-2 px-2"
                    value="Need Help?">
                {{#if this.items.delivered}}<button
                    onclick="downloadInvoice('{{this.items.product_id}}','{{this._id}}')"
                    class="text-center btn bg-light text-primary py-2 px-4"> <i class="fa-solid fa-download"></i>
                    Download Invoice</button>
                {{/if}}
            </div>
            <div class="row d-flex align-items-center">
                <div style="position: relative;" id="order{{this.items._id}}"
                    class="border track-order my-2 p-2 rounded ">
                    {{#if this.items.cancelled_on}}
                    <div style="width:98% ; position:absolute; z-index-3;top:4rem ;height:1.5rem"
                        class="bg-light text-center fw-bold text-danger">Cancelled on {{this.items.cancelled_on}}</div>
                    {{/if}}
                    {{#if this.items.pending}}
                    <div style="width:98% ; position:absolute; z-index-3;top:4rem ;height:1.5rem"
                        class="bg-light text-center fw-bold text-danger">Payment Failled</div>
                    {{/if}}
                    <div class="d-flex justify-content-around mb-1">
                        <div style="width: 10rem;">
                            <p class="text-muted mt-1 mb-0 small ms-xl-5">{{this.createdAt}}</p>
                        </div>
                        <div style="width: 10rem;">
                            <p class="text-muted mt-1 mb-0 small ms-xl-5">{{this.items.shipped_on}}</p>
                        </div>
                        <div style="width: 10rem;">
                            <p class="text-muted mt-1 mb-0 small ms-xl-5">{{this.items.out_for_delivery}}</p>
                        </div>
                        <div style="width: 10rem;">
                            <p class="text-muted mt-1 mb-0 small ms-xl-5">{{this.items.delivered_on}}</p>
                        </div>
                    </div>
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                            style="width: {{this.items.track}}%; border-radius: 16px; {{#if this.items.cancelled_on}} background-color: #752300; {{else}} background-color: #07ae5d; {{/if}}"
                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="d-flex justify-content-around mb-1">
                        <p class="text-muted fw-bold mt-1 mb-0 small ms-xl-5">Orderd</p>
                        <p class="text-muted fw-bold mt-1 mb-0 small ms-xl-5">Shipped</p>
                        <p class="text-muted fw-bold mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                        <p class="text-muted fw-bold mt-1 mb-0 small ms-xl-5">Delivered</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{!-- pagination part --}}
    <div class="d-flex justify-content-center ">
        <nav aria-label="Page navigation  example">
            <ul class="pagination">
                <li class="page-item">
                    <a id="prev" class="page-link" href="#" aria-label="Previous">
                        <span id="prev" aria-hidden="true">&laquo;</span>
                        <span id="prev" class="sr-only">Previous</span>
                    </a>
                </li>
                {{#each arr}}
                <li class="page-item"><a id="orderHref" class="page-link" href="/orders/?page={{this}}">{{this}}</a>
                </li>
                {{/each}}
                <li class="page-item">
                    <a id="next" class="page-link" href="#" aria-label="Next">
                        <span id="next" aria-hidden="true">&raquo;</span>
                        <input id="lastOrder" type="hidden" value="{{last}}">
                        <span id="next" class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<script>

    // Add event listeners for "Next" and "Previous" buttons
    document.addEventListener('DOMContentLoaded', function () {
        const nextPageButton = document.getElementById('next');
        const prevPageButton = document.getElementById('prev');
        let last = document.getElementById('lastOrder').value;
        last = parseInt(last);
        const urlSearchParams = new URLSearchParams(window.location.search);
        const qParamValue = urlSearchParams.get('page');
        let page = parseInt(qParamValue);
        if (page) {
            nextPageButton.addEventListener('click', function (event) {
                if (page >= 1 && page < last) {
                    page = page + 1;
                }
                location.assign(`/orders/?page=${page}`);
            });

            prevPageButton.addEventListener('click', function (event) {
                if (page > 1 && page <= last) {
                    page = page - 1;
                }
                location.assign(`/orders/?page=${page}`);
            });
        } else {
            location.assign(`/orders/?page=1`);
        }
    })
</script>