<div style="width: 100%; position:relative" class="conatiner-fluid mt-3">
    {{#each orderDetails}}

    <div class="card px-4 my-2 order-details col-md-9">
        <div class="img-text-wrapper p-3 d-flex">
            <img style="width: 5rem;" src="/productImages/{{this.products.primary_image.name}}" alt="">
            <div class="h5 fw-bold">{{this.products.product_name}}
                <span style="font-size: 0.9rem;" class="fw-normal"><br> Quantity:{{this.items.quantity}}</span>
                <span style="font-size: 0.9rem;" class="fw-bold text-success">&nbsp &nbsp &nbsp &#160 ₹
                    {{this.items.price}}</span>
            </div>
            {{#if this.items.delivered}}
            <div style="width:60%; height:1rem" class="d-flex align-items-center justify-content-end">
                <i class="fa-solid text-success fa-star"></i>
                <i class="fa-solid text-success fa-star"></i>
                <i class="fa-regular text-secondary fa-star"></i>
                <a href="/reviews/new-review/{{this.products._id}}" class="text-decoration-none text-success">Rate
                    this?</a>
            </div>

            {{/if}}
        </div>
        <div style="width:100%; z-index:1" class="d-flex justify-content-around mb-3">
            {{#if this.items.cancelled}}
            <input role="button" readonly type="none" class="text-center btn bg-light text-danger py-2 px-2"
                value="Cancelled">
            {{/if}}
            {{#if this.items.ordered}}
            <input role="button" onclick="cancelOrder('{{this.items.product_id}}','{{this._id}}')" readonly type="none"
                class="text-center btn bg-light text-primary py-2 px-2" value="Cancel">
            {{/if}}

            <input role="button" id="cancel-btn" onclick="trckOrder('{{this.items._id}}')" readonly type="none"
                class="text-center btn bg-light text-primary py-2 px-2" value="Track Order">
            {{#if this.items.return}}
            <a class="text-decoration-none"
                href="/orders/return-order?order_id={{this._id}}&product_id={{this.items.product_id}}">
                <input role="button" readonly type="none" class="text-center btn bg-light text-primary py-2 px-2"
                    value="Return?"></a>
            {{else}}
            <input role="button" readonly type="none" class="text-center btn bg-light text-primary py-2 px-2"
                value="Need Help?">
            {{/if}}
            {{#if this.items.delivered}}<a
                href="/orders/get-invoice?productId={{this.items.product_id}}&orderId={{this._id}}"
                class="text-center btn bg-light text-primary text-decoration-none py-2 px-4"> <i
                    class="fa-solid fa-download"></i>
                Download Invoice</a>
            {{/if}}
        </div>
        <div class="row d-flex align-items-center">
            <div style="position: relative;" id="order{{this.items._id}}" class="border track-order my-2 p-2 rounded ">
                {{#if this.items.cancelled_on}}
                <div style="width:98% ; position:absolute; z-index-3;top:4rem ;height:1.5rem"
                    class="bg-light text-center fw-bold text-danger">Cancelled on {{toDateAndTime
                    this.items.cancelled_on}}
                </div>
                {{/if}}
                {{#if this.items.pending}}
                <div style="width:98% ; position:absolute; z-index-3;top:4rem ;height:1.5rem"
                    class="bg-light text-center fw-bold text-danger">Payment Failled</div>
                {{/if}}
                <div class="d-flex justify-content-around mb-1">
                    <div style="width: 10rem;">
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">{{toDateAndTime this.createdAt}}</p>
                    </div>
                    <div style="width: 10rem;">
                        {{#if this.items.shipped}}
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">{{toDateAndTime this.items.shipped_on}}</p>
                        {{/if}}
                    </div>
                    <div style="width: 10rem;">
                        {{#if this.items.outdelivery}}
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">{{toDateAndTime this.items.out_for_delivery}}</p>
                        {{/if}}
                    </div>

                    <div style="width: 10rem;">
                        {{#if this.items.delivered}}
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">{{toDateAndTime this.items.delivered_on}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="progress" style="height: 6px; border-radius: 16px;">
                    <div class="progress-bar" role="progressbar"
                        style="width: {{this.items.track}}%; border-radius: 16px; {{#if this.items.cancelled_on}} background-color: #752300; {{else}} background-color: #07ae5d; {{/if}}"
                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="d-flex justify-content-around mb-1">
                    <p class="text-muted fw-bold mt-1 mb-0 small ms-xl-5">Orderd</p>
                    <p class="text-muted fw-bold mt-1 mb-0 small ms-xl-5">Shipped</p>
                    <p class="text-muted fw-bold mt-1 mb-0 small ms-xl-5">Out for delivary</p>
                    <p class="text-muted fw-bold mt-1 mb-0 small ms-xl-5">Delivered</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>