<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <button onclick="addToWishlist('{{product._id}}')"
            style="position: absolute; border:none; background:transparent; right:2rem" class="mt-2 user-text"><i
              class="fa-regular fa-2x fa-heart"></i></button>
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
            <img style="max-width: 90%; max-height: 90vh; margin: auto;" class="rounded-4 fit"
              src="/productImages/{{product.primary_image.name}}" />
          </a>
        </div>
        <div class="d-flex justify-content-center mb-3">
          {{#each product.secondary_images}}<a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank"
            data-type="image" href="" class="item-thumb">
            <img width="60" height="60" class="rounded-2" src="/productImages/{{this.name}}" />{{/each}}</a>
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{product.product_name}}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                4.5
              </span>
            </div>
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i> Only {{product.stock}}
              left</span>
            <span class="text-success ms-2">In stock</span>
          </div>
          <span class="h5">₹{{product.selling_price}}</span>
          <p>
            {{product.description}}
          </p>
          <div class="row">
            <dt class="col-3">Color</dt>
            <dd class="col-9">{{product.color}}</dd>

            <dt class="col-3">Brand</dt>
            <dd class="col-9">{{product.brand_name}}</dd>
          </div>
          <hr />

        <a href="/buy_product/{{product._id}}" class="btn btn-warning shadow-0"> Buy now </a>
        <a href="/add_to_cart/{{product._id}}" class="btn btn-primary shadow-0"> <i
            class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
        <a href="/add_to_wishlist/{{product._id}}" class="btn btn-light border border-secondary py-2 icon-hover px-3">
          <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
    </div>
    </main>
  </div>
  </div>
</section>
<!-- content -->

<script>
  $(document).ready(() => {
    //add to wish list function
    addToWishlist = async (id) => {
      console.log("clicked")
      await fetch(`add-to-wishlist/${id}`, {
        method: 'GET'
      }).then(response => response.json())
        .then(data => {
          if (data.success) {
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Your work has been added to the wish list',
              showConfirmButton: false,
              timer: 1500
            })
          } else {
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Product removed has been from wishlist',
              showConfirmButton: false,
              timer: 1500
            })
          }
        })
    }

  })
</script>