<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div id="image-container" class="border image-container rounded-4 mb-3 d-flex justify-content-center">
          <i class="fa-regular add-to-wish-list-btn fa-2x fa-heart" onclick="addToWishlist('{{product._id}}')"></i>
          <img style="max-width: 80%; max-height: 90vh;" id="primary-img-view" class="rounded-4 fit primaryIMG"
            src="/productImages/{{product.primary_image.name}}" />
        </div>
        <div class="d-flex justify-content-center mb-3">
          {{#each product.secondary_images}}
          <img width="60" height="60" id="secondary_img{{this._id}}" onclick="changeImage('{{this._id}}')"
            class="border m-1 rounded-2" src="/productImages/{{this.name}}" />{{/each}}
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{product.product_name}}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                4.5
              </span>
            </div>
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i> Only {{product.stock}}
              left</span>
            <span class="text-success ms-2">In stock</span>
          </div>
          <span class="h5">₹{{product.selling_price}}</span>
          <p>
            {{product.description}}
          </p>
          <div class="row">
            <dt class="col-3">Color</dt>
            <dd class="col-9">{{product.color}}</dd>

            <dt class="col-3">Brand</dt>
            <dd class="col-9">{{product.brand_name}}</dd>
          </div>
          <hr />

          <a onclick="addToCart('{{product._id}}')" class="btn btn-warning shadow-0"> Buy now </a>
          <a onclick="addToCart('{{product._id}}')" class="btn btn-primary shadow-0"> <i
              class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
          <a onclick="addToWishlist('{{product._id}}')"
            class="btn btn-light border border-secondary py-2 icon-hover px-3">
            <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<script>
  $(document).ready(() => {


    //add to wish list function
    addToWishlist = async (id) => {
      await fetch(`add-to-wishlist/${id}`, {
        method: 'GET'
      }).then(response => response.json())
        .then(data => {
          if (data.success) {
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Your work has been added to the wish list',
              showConfirmButton: false,
              timer: 1500
            })
          } else {
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Product removed has been from wishlist',
              showConfirmButton: false,
              timer: 1500
            })
          }
        })
    }
    let zoom_area = document.getElementById('image-container')
    let zoom_img = document.getElementById('primary-img-view');
    zoom_area.addEventListener('mousemove', (event) => {
      clientX = event.clientX - zoom_area.offsetLeft
      clientY = event.clientY - zoom_area.offsetTop
      mWidth = zoom_area.offsetWidth
      mHeight = zoom_area.offsetHeight
      clientX = clientX / mWidth * 100
      clientY = clientY / mHeight * 100
      zoom_img.style.transform = 'translate(-' + clientX + '%,-' + clientY + '%) scale(2)'
    })
    zoom_area.addEventListener('mouseleave', () => {
      zoom_img.style.transform = 'translate(-50%,-50%) scale(1)'
    });


    //change image function
    changeImage = (img) => {
      let secondary_image = document.getElementById(`secondary_img${img}`);
      let temp = secondary_image.src;
      secondary_image.src = zoom_img.src;
      zoom_img.src = temp

    }





  });
</script>