
<style>

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="container mt-5">
<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-end h5">Invoice: {{showOrder._id}}</h4>
                        <div class="mb-4">
                           <h2 class="mb-1 text-muted">Times Cart</h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">Sold by: TImes Cart</p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> timescart.com</p>
                            <p><i class="uil uil-phone me-1"></i>+91 7902889305</p>
                        </div>
                    </div>

                    <hr class="my-4">

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                        <tr>
                        <td >
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Billed To:</h5>
                                <h5 class="font-size-15 mb-2">{{showOrder.user.user_name}}</h5>
                                <p class="mb-1">{{showOrder.address.house_name}}(H), {{showOrder.address.area_street}}, {{showOrder.address.locality}},<br> {{showOrder.address.town}},{{showOrder.address.state}}, {{showOrder.address.pincode}}</p>
                                <p class="mb-1">{{showOrder.user.user_email}}</p>
                                <p>{{showOrder.user.user_mobile}}</p>
                            </div>
                        </td>
                        <!-- end col -->
                        <td align="right">
                            <div class="text-muted text-sm-end">
                                <div>
                                    <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                    <p>{{showOrder._id}}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                    <p>{{showOrder.createdAt}}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Payment method:</h5>
                                    <p>{{showOrder.payment_method}}</p>
                                </div>
                            </div>
                        </td>
                        <!-- end col -->
                        </tr>
                    </table>
                </div>
                    <!-- end row -->
                    
                    <div class="py-2">
                        <h5 class="font-size-15">Order Summary</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 70px;">No.</th>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th class="text-end" style="width: 120px;">Total</th>
                                    </tr>
                                </thead><!-- end thead -->
                                <tbody>
                                    <tr>
                                        <th scope="row">01</th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1">{{showOrder.product.product_name}}</h5>
                                            </div>
                                        </td>
                                        <td>₹{{showOrder.items.price}}</td>
                                        <td>{{showOrder.items.quantity}}</td>
                                        <td class="text-end">₹{{showOrder.items.price}}</td>
                                    </tr>
                                    {{!-- <tr>
                                        <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                        <td class="text-end">₹{{order.products.price}}</td>
                                    </tr> --}}
                                    <!-- end tr -->
                                    {{!-- <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Discount :</th>
                                        <td class="border-0 text-end">- ₹{{showOrder.product.discount}}</td>
                                    </tr> --}}
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Shipping Charge :</th>
                                        <td class="border-0 text-end">₹0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                        <td class="border-0 text-end"><h4 class="m-0 fw-semibold">₹{{showOrder.items.price }}</h4></td>
                                    </tr>
                                    <!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div><!-- end table responsive -->
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>